/* apply styles to header */
header {
    padding: 10px 15px;
    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 30px;
}

/* Apply styles to header navigation elements */
header a {
    text-decoration: none;
    font-family: Verdana;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 0 0 20px limegreen;
}

header nav a {
    font-size: 20px;
    align-items: right;
}

header nav ul {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
}

/* Apply styles to banner section */
.banner {
    background-image: url("../images/triangle_banner.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.banner img {
    margin: 30px 0 30px 70px;
    display: flex;
}

.banner p {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 25px;
    font-family: Verdana;
    font-weight: bold;
    font-style: italic;
    color: hotpink;
    text-shadow: 2px 2px blue
}

/* Apply styles to all three sections */
.intro, .projects, .contact-info {
    display: flex;
    background-color: gray;
}

.intro h2, .projects h2, .contact-info h2 {
    margin: 70px 30px 60px 40px;
    padding: 0 15px 0 15px;
    font-family: Verdana;
    color: whitesmoke;
    font-size: 24px;
    border-right: 5px solid hotpink;
    text-align: right;
}

/* Apply styles to about me paragraph */
.intro p {
    padding: 30px;
    color: white;
    width: 80%;
    margin: 40px;
    text-align: left;
    font-family: Verdana;
    font-size: 20px;
}

/* Apply styles to project images */
.project-img {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    padding: 150px;
    min-height: 300px;
    position: relative;
}

.project-1 {
    background-image: url("../images/run_buddy_page.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid hotpink;
    border-radius: 8px;
    display: flex;
    margin: 30px 0 800px 50px;
    padding: 10px 300px 20px 10px;
    position: relative;
    top: 50px;
    overflow: hidden;
}

.project-2 {
    background-image: url("../images/horiseon.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid hotpink;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 900px 0px;
    padding: 0px 100px 0px 0px;
    position: relative;
    top: 150px;
    left: 50px;
}

.project-3 {
    background-image: url("../images/hearth.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid hotpink;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 100px 70px;
    padding: 0px 70px 0px 30px;
    position: absolute;
    top: 1150px;
    left: 420px;
}

.project-4 {
    background-image: url("../images/paper_locator.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid hotpink;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0 100px 70px;
    padding: 0px 70px 0px 30px;
    position: absolute;
    top: 1150px;
    left: 875px;
}

/* Apply styles to contact info section */
.contact-info div {
    padding: 30px;
    color: white;
    width: 95%;
    margin: 40px;
    font-family: Verdana;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    header nav ul {
        margin-top: 20px;
    }

    header nav ul a {
        font-size: 15px;
    }

    .project-1 {
        padding: 10px 120px 20px 450px;
        top: 50px;
        left: 50px;
    }

    .project-2 {
        position:relative;
        margin: 70px 0 800px 50px;
        padding: 10px 275px 10px 10px;
        top: 400px;
        left: -700px;
    }

    .project-3 {
        margin: 0px;
        padding: 10px 110px 10px 10px;
        top: 1200px;
        left: 600px;
    }

    .project-4 {
        margin: 0px;
        padding: 10px 110px 10px 10px;
        top: 1550px;
        left: 400px;
    }

}


/* NO MEDIA QUERY NEEDED FOR TABLETS AND SMALLER */



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    

    .intro h2, .projects h2, .contact-info h2 {
        font-size: 15px;
        margin: 30px 10px 10px 10px;
    }

    .project-2 {
        margin: 70px 0 800px 50px;
        padding: 10px 275px 10px 10px;
        top: 740px;
        left: -300px;
    }

    .project-3 {
        margin: 0px;
        padding: 10px 110px 10px 10px;
        top: 1325px;
        left: 200px;
    }

    .project-4 {
        margin: 0px;
        padding: 10px 110px 10px 10px;
        top: 1325px;
        left: 200px;
    }


}
